/*
  This is the main stylesheet for the UI package
  It includes Tailwind CSS v4 and our theme variables
*/

@import "./theme.css";
@import "./components/tiptap/tiptap.css";
@import "tailwindcss";
@source "../../../apps/";
@source "./";
@source "./components/";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark, .dark *));

body > [data-rk] {
  @apply flex min-h-screen flex-col;
}

.clip-btn-default {
  clip-path: polygon(
    0 6px,
    6px 6px,
    6px 0,
    100% 0,
    100% calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) 100%,
    0 100%
  );
}
.clip-btn-lg {
  clip-path: polygon(
    0 12px,
    12px 12px,
    12px 0,
    100% 0,
    100% calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) 100%,
    0 100%
  );
}

.border-primary {
  @apply !border !border-primary;
}

.border-input {
  @apply !border !border-input;
}

html,
body {
  @apply max-w-screen overflow-x-hidden;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.toast {
  @apply rounded-none! border-none! bg-card!;
  .description {
    @apply text-muted-foreground!;
    a {
      @apply !font-normal text-muted-foreground! underline!;
    }
  }
  .icon svg {
    @apply fill-current!;
  }
}

@custom-variant maybe-hover (&:hover);
