@theme {
  --color-primary: #4d62f0;
  --color-primary-light: #4d62f0;
  --color-primary-dark: #2a326a;

  --color-secondary-light: #fcd7fc;
  --color-secondary: #fcd7fc;
  --color-secondary-dark: #845f84;

  --color-success-light: #d2fcbd;
  --color-success: #d2fcbd;
  --color-success-dark: #64805d;

  --color-error-light: #ff848a;
  --color-error: #ff848a;
  --color-error-dark: #893e43;

  --color-warning-light: #f9fa96;
  --color-warning: #f9fa96;
  --color-warning-dark: #878751;

  --color-info-light: #d5f0f6;
  --color-info: #d5f0f6;
  --color-info-dark: #5c6c74;

  --color-black-off: #121316;
  --color-black: #02010a;

  --color-white: #ffffff;

  --color-gray-lighter: #cccfde;
  --color-gray-light: #b3b3b3;
  --color-gray: #808080;
  --color-gray-dark: #636366;

  --color-mento-blue: #4d62f0;
  --color-mento-cyan: #a5e5f7;
  --color-mento-bright: #f9faa2;
  --color-mento-mint: #d2fcbd;
  --color-mento-blush: #fcd7fc;
  --color-mento-dark: #02010a;

  --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
}
